* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

header div {
  width: 45%;
}

header {
  /* background-color: red; */
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
header .logo {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo h1 {
  text-align: center;
  margin: 0 0 0 10px;
  font-size: 45px;
  font-weight: 700;
}

#separateColor {
  color: #ff42a5;
}

header .logo img {
  width: 86.041px;
  height: 40px;
}

header .link ul a {
  all: unset;
  cursor: pointer;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

header .link ul {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

#follow {
  color: #3c354f;
  font-size: 20px;
  font-weight: 500;
  width: 90%;
}
header .link .follow-us {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
  padding: 10px 20px;
  text-align: center;
}

/* Banner section */

.banner .info {
  width: 50%;
  /* border: 1px solid black; */
}
.banner .hero-img {
  width: 50%;
  /* border: 1px solid black; */
}
.banner .hero-img img {
  width: 95%;
  height: 95%;
}

.banner {
  display: flex;
}

.banner .info {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .info .info-details {
  width: 50%;
  height: 55%;
  /* border: 1px solid black; */
}

.info-details h2 {
  color: #0b0223;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
}
.info-details h1 {
  font-size: 95px;
  font-weight: 800;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-details p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  padding: 2px;
}
.info-details p {
  /* background-color: red; */
  /* border: 1px solid black; */
  margin-left: 5px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  padding: 2px;
}
.info-details .icon {
  display: flex;
  margin-top: 5px;
}

.info-details button {
  color: #fff;
  margin-top: 25px;
  margin-right: 15px;
  padding: 18px 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 48px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.info-details #signin {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.info-details #go-rogue {
  background-color: #4ec5f7;
}

/* gamer section */

.gamer {
  height: 600px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-img {
  display: flex;
  justify-content: flex-end;
}

.gamer-img {
  width: 50%;
  /* border: 1px solid black; */
}
.gamer-img img {
  width: 100%;
  /* height: 100%; */
}

.gamer-info-div {
  width: 30%;
  /* border: 1px solid black; */
}

.gamer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 80%;
  height: 73%;
  /* border: 1px solid black; */
  margin: 60px auto;
  text-align: right;
}
.gamer-info h1 {
  font-size: 48px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-info p,
.gamer-info h3 {
  color: #534c64;
  line-height: 30px; /* 166.667% */
  font-size: 18px;
  font-weight: 400;
}
.gamer-info h3 {
  font-size: 22px;
  font-weight: 800;
  margin-top: 5px;
}
.gamer-info button {
  color: #fff;
  border-radius: 48px;
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 17px 40px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* Online Game section */

.headline {
  text-align: center;
  /* background-color: red; */
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
  /* margin-bottom: 20px; */
}

.headline h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
}
.headline h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.headline p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* playable image */
.image-with-playBtn {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  margin-bottom: 100px;
}
.image-with-playBtn .div {
  width: 23%;
  /* border: 1px solid red; */
}
.image-with-playBtn div img {
  width: 100%;
  height: 100%;
}

.image-with-playBtn .relative {
  position: relative;
}

.image-with-playBtn .playBtn {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 20px;
  border: 2px solid #ff42a5;
  transition: all 0.3s ease-out;
}

.image-with-playBtn div p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 12px;
}
.playBtn .watchNow {
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.relative:hover .playBtn {
  cursor: pointer;
  /* visibility: visible; */
  opacity: 1;
}
.relative:hover .playable-image {
  opacity: 0.6;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.position-section {
  display: flex;
  width: 80%;
  height: 827px;
  margin: 0 auto;
  /* background-color: red; */
}
.play h1 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 20px;
}
.position-section .partition {
  /* border: 1px solid black; */
  text-align: end;
  width: 50%;
}

.play {
  width: 353px;
  height: 60%;
  /* border: 1px solid black; */
}

.position-section .detatls {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-position {
  position: relative;
}

.partition #base {
  width: 75%;
  height: 100%;
}
.partition #abs {
  width: 318.5px;
  height: 365.083px;
  position: absolute;
  top: 40%;
  left: 3%;
  bottom: 0;
  right: 0;
}

.sevenIcon {
  /* background-color: red; */
  /* border: 1px solid black; */
  width: 80%;
  min-height: 200px;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 40px;
}

.sevenIcon div {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  padding: 5px 5px;
  width: 18%;
  transition: color 0.2s;
  color: black;
}
.sevenIcon div:hover {
  cursor: pointer;
  /* background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%); */
  color: #ff42a5;
  border: 2px solid #ff42a5;
}

.sevenIcon div span {
  font-size: 20px;
  font-weight: 600;
}

/* footer */
.footer {
  height: 636px;
  background-color: #0b0223;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer .title img {
  width: 70px;
  margin-top: 10px;
}

.footer .title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  /* background-color: red; */
}

.footer .title h1 {
  margin-left: 15px;
}

.footer .title h1 span {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .description p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.footer .description,
.footer .imp-link,
.footer .policy {
  color: #fff;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  width: 50%;
}
.footer .imp-link {
  width: 30%;
}
.footer .policy {
  width: 40%;
  font-size: 12px;
}
.footer .para {
  display: flex;
  font-size: 12px;
  color: #fff;
  /* width: 40%; */
  text-align: center;
}

@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
  header div {
    width: 100%;
  }
  header .logo img {
    width: 60px;
    height: 30px;
  }
  header .link ul {
    /* background-color: yellow; */
    flex-direction: column;
    margin-top: 20px;
    height: 200px;
  }
  header .link .follow-us .svg {
    width: 90px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .info,
  .banner .hero-img {
    width: 90%;
    margin: 40px auto;
  }

  .banner .info .info-details {
    width: 85%;
    margin: 0 auto;
  }
  .banner .info .info-details h2 {
    font-size: 38px;
  }
  .banner .info .info-details h1 {
    font-size: 70px;
  }
  .banner .info .info-details p {
    /* background-color: yellow; */
    font-size: 14px;
  }
  .info-details button {
    color: #fff;
    margin-top: 25px;
    margin-right: 15px;
    padding: 14px 30px;
    font-size: 14px;
    border-radius: 48px;
  }

  .gamer {
    flex-direction: column;
    height: auto;
    background-image: none;
  }
  .gamer-img,
  .gamer-info-div {
    width: 95%;
    margin: 20px auto;
  }
  .gamer-info-div {
    height: 500px;
  }

  .gamer-info {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 93%;
    height: 100%;
    margin: 20px auto;
  }
  .headline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .headline h2,
  .headline h2 span {
    font-size: 28px;
  }
  .headline p {
    font-size: 12px;
  }

  .image-with-playBtn {
    flex-direction: column;
  }
  .image-with-playBtn .div {
    width: 100%;
    padding-top: 40px;
  }
  .image-with-playBtn div p {
    font-size: 11px;
    text-align: center;
  }

  .position-section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .position-section .partition {
    width: 100%;
  }
  .play {
    width: 90%;
    height: 300px;
  }
  .play p,
  .play h1 {
    text-align: center;
  }
  .play h1 {
    font-size: 38px;
  }
  .play p {
    font-size: 12px;
  }
  .img-position {
    margin-top: 34px;
  }
  .partition #abs {
    width: 138.5px;
    height: 155.083px;
    flex-shrink: 0;
    top: 60%;
    left: 8%;
    bottom: 0;
    right: 0;
  }
  .sevenIcon {
    margin: 60px 0;
  }

  .sevenIcon div img {
    width: 30px;
  }
  .sevenIcon div span {
    font-size: 9px;
    font-weight: 400;
  }
  .sevenIcon div:hover {
    cursor: pointer;
    border: 1px solid #ff42a5;
  }
  .sevenIcon div {
    width: 32%;
    height: 50px;
    padding: 1px;
    justify-content: space-between;
    align-content: space-between;
    justify-content: space-evenly;
  }
  .footer .description p,
  .footer .imp-link span {
    width: 25%;
    text-align: center;
  }
  .footer .policy p {
    width: 35%;
    text-align: center;
    /* background-color: red; */
  }
  .footer .para p {
    width: 60%;
  }
  .footer .para {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* background-color: yellow; */
  }
  .footer .description,
  .footer .imp-link,
  .footer .policy {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  header .link {
    width: 70%;
  }
  header .logo {
    width: 30%;
  }
  header .logo h1 {
    font-size: 35px;
  }
  header .logo img {
    width: 50px;
    height: 30px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .info,
  .banner .hero-img {
    width: 90%;
    margin: 40px auto;
  }

  .banner .info .info-details {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner .info .info-details h2 {
    font-size: 38px;
  }
  .banner .info .info-details h1 {
    font-size: 70px;
  }
  .banner .info .info-details p {
    font-size: 14px;
  }
  .info-details button {
    color: #fff;
    margin-top: 25px;
    margin-right: 15px;
    padding: 14px 30px;
    font-size: 14px;
    border-radius: 48px;
  }

  /* gamer */
  .gamer {
    flex-direction: column;
    height: auto;
    background-image: none;
  }
  .gamer-img,
  .gamer-info-div {
    width: 95%;
    margin: 20px auto;
  }
  .gamer-info-div {
    height: 500px;
  }

  .gamer-info {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: 20px auto;
  }
  .headline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .headline h2,
  .headline h2 span {
    font-size: 38px;
  }
  .headline p {
    font-size: 16px;
  }
  .image-with-playBtn {
    flex-direction: column;
  }
  .image-with-playBtn .div {
    width: 100%;
    margin-top: 40px;
  }
  .image-with-playBtn div p {
    font-size: 14px;
    text-align: center;
  }
  .position-section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .position-section .partition {
    width: 100%;
  }
  .play {
    width: 80%;
    height: 300px;
  }
  .play p,
  .play h1 {
    text-align: center;
  }
  .play h1 {
    font-size: 38px;
  }
  .play p {
    font-size: 12px;
  }
  .img-position {
    margin-top: 34px;
  }
  .partition #abs {
    width: 238.5px;
    height: 255.083px;
    flex-shrink: 0;
    top: 60%;
    left: 7%;
    bottom: 0;
    right: 0;
  }
  .sevenIcon {
    margin-top: 200px;
  }
  .sevenIcon div img {
    width: 40px;
  }
  .sevenIcon div span {
    font-size: 12px;
    font-weight: 400;
  }
  .sevenIcon div:hover {
    cursor: pointer;
    border: 1px solid #ff42a5;
  }
  .sevenIcon div {
    width: 32%;
    height: 50px;
    padding: 2px;
    justify-content: space-between;
    align-content: space-between;
    justify-content: space-evenly;
  }
  .footer .description p,
  .footer .imp-link span {
    width: 25%;
    text-align: center;
  }
  .footer .policy p {
    width: 35%;
    text-align: center;
    /* background-color: red; */
  }

  .footer .description,
  .footer .imp-link,
  .footer .policy {
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
